<div class="w-50 mt-3" style="margin: 0 auto">
  <form [formGroup]="frmCategoria" (ngSubmit)="agregarCategoria(frmCategoria.value)">
    <div>
      <h3 class="text-center bg-danger text-white">Agregar Categoria</h3>
    </div>
    <div class="form-floating">
      <input type="text" formControlName="txtCategoria" id="txtCategoria"
      class="form-control" required>
        <label for="txtCategoria">Nombre Categoria</label>
    </div>
    <div>
      <button class="btn btn-success mt-3">Agregar</button>
    </div>
  </form>
  <div class="text-center font-weight-bold">{{mensaje}}</div>
</div>


